<div class="wrapper">
  <div class="container">
    <h2 class="large-font" style="margin-bottom: 60px">
      Info
    </h2>
    <div class="data">
      <span class="small-font">Token:</span>
      <span class="small-font">{{name}}</span>
    </div>
    <div class="data">
      <span class="small-font">Total Supply:</span>
      <span class="small-font">{{totalSupply}}</span>
    </div>
    <div class="data">
      <span class="small-font">Circulating Supply:</span>
      <span class="small-font">{{circulatingSupply}}</span>
    </div>
  </div>
</div>
